body {
  background-color: #c8d3ae;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

.container {
  border: 1px solid #737373;
  background-color: #ffffff;
}

.header {
  background: url('/images/2009logo1.jpg') no-repeat 0 0;
  height: 80px;
  position: relative;
  border-left: 4px solid #ffa653;
}

.header h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  position: absolute;
  right: 10px;
  bottom: 0px;
}

.header a {
  font-size: 10px;
  position: absolute;
  right: 10px;
  top: 5px;
}

.menu {
  background: url('/images/2009logo2.jpg') no-repeat 0 0;
  border-left: 4px solid #ffa653;
  border-right: 1px solid #ffa653;
}

.menu ul {
  margin-top: 120px;
  padding: 0;
  list-style-type: none;
}

.menu li {
  padding-left: 20px;
  text-transform: uppercase;
  height: 22px;
  font-size: 12px;
}

.menu li.current {
  background: url('/images/arrow.gif') no-repeat 0 0;
}

.menu li.current a {
  color: #e29043;
}

.menu li a {
  text-decoration: none;
  color: #354f47;
  border-bottom: 1px dotted #a6a8a5;
  display: block;
}

.menu li a:hover {
  color: #e29043;
}

.body {
  border-top: 20px solid #ffa653;
  background-color: #ffffff;
}

.footer {
  border-top: 1px solid #ffa653;
  background-color: #e9e6d0;
  text-align: center;
  font-size: 10px;
}
